.App {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(to right, #dce35b, #45b649);
  padding-top: 30px;
  padding-bottom: 45px;
  border: 2px #4f924f solid;
}

h1 {
  font-size: 28px;
  font-family: monospace;
}

h5 {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

.searchButton {
  margin-left: 8px;
  margin-top: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: green;
  background-color:  #b6f1b6;
  border: 1px #b98719 solid;
  border-radius: 5px 5px 5px 5px;
}

.Temperature li {
  list-style: none;
  text-align: left;
  margin-left: 50px;
  margin-top: 29px;
} 

.footer {
  font-size: 12px;
  font-family: "Riyaz", sans-serif;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #4f924f;
  font-weight: bold;
}

.footer a {
  color: rgb(240, 253, 235);
  text-decoration: none;
}